.card-container {
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    overflow-y: scroll;
}

.fixedaddbutton {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    bottom: 8%;
    right: 33%;
    z-index: 1;
    background-color: #3b4372;
    border: none;
    font-size: 20px;
    -webkit-box-shadow: 2px 2px 10px 5px rgba(255, 255, 255, 0.72);
    -moz-box-shadow: 2px 2px 10px 5px rgba(255, 255, 255, 0.72);
    box-shadow: 0px 0px 5px 6px #ddd;
}

.fixedaddbutton:hover {
    background-color: rgb(18, 128, 197);
    font-size: 22px;
}

.taskcard {
    height: 100px;
    margin-bottom: 30px;
    padding: 0px;
    position: relative;
    border: 1px solid #0067A5;
    background-color: #fff;
}

.taskcard:hover {
    cursor: pointer;
    -webkit-box-shadow: 2px 1px 6px 1px #3B4372;
    -moz-box-shadow: 2px 1px 6px 1px #3B4372;
    box-shadow: 2px 1px 6px 1px #3B4372;
}

.next-button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: #fff;
    background-color: #3B4372;
    border: none;
}

.next-button:hover {
    background-color: #333;
}

.title-text {
    color: #0067A5;
    font-weight: 600;
    margin: 0;
    font-size: 1.1rem;
}

#tablemargin {
    padding-left: 30px;
}

#details p {
    margin-bottom: 0;
}

#details h2 {
    margin-bottom: 0.4em;
}
.taskname{
    color: #777;
    margin-bottom: 0.4em;
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
}
.filter-box {
    padding: 0 1% 0 2%;
    width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 8px 4px rgba(255, 255, 255, 0.9);
    z-index: 700;
    -webkit-box-shadow: inset 110px 0px 100px -180px #01043F;
    -moz-box-shadow: inset 110px 0px 100px -180px #01043F;
    box-shadow: inset 110px 0px 100px -180px #01043F;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.filter-box::-webkit-scrollbar {
    width: 0 !important
}

.taskfilter-label {
    color: #555;
    margin: 2px;
}

.taskfilter {
    padding: 2px;
    height: calc(1.1em + 0.75rem + 2px);
}

.taskfilter-title {
    color: #0067A5;
    font-weight: 600;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
    font-size: 1.1rem;
}

.taskfilter-title i {
    padding-right: 5px;
}

.filtered-table {
    padding: 0 0 0 0;
    overflow: hidden;
}

.filtered-table-fade {
    position: absolute;
}

.task-filters {
    border-bottom: 1px solid #ddd;
}

#tasks_manager {
    padding-top: 5px;
}
.btn-group-detailmenu{
    padding-top: 10px;
    padding-bottom: 20px;
}
.btn-detail-menu{
    background-color: #fff;
    border: none;
    color: #999;
    font-size: 1.2rem;
    margin: 0 20px;
    padding: 0 0 2px 0;
    outline: none;
}
.btn-detail-menu:focus,.btn-detail-menu:active:focus,.btn-detail-menu.active:focus,
.btn-detail-menu.focus,.btn-detail-menu:active.focus,.btn-detail-menu.active.focus {
    box-shadow: none;
}
.btn-detail-menu-active{
    color: #333;
}
.btn-detail-menu:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #01043F;
    transition: 1.5s;
}
.btn-detail-menu:hover:before{
    width: 100%;
}
.btn-detail-menu-active:before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #01043F;
    transition: 0s;
}
#timeline-container{
    height: 70%;
    overflow-y: scroll;
}
#data-container{
    height: 70%;
    overflow-y: scroll;
}
.timeline{
    width: 100%;
    height: auto;
    margin: 16px auto 0;
    padding: 20px;
    box-sizing: border-box;
}
.timeline li{
    position: relative;
    list-style: none;
}
.timeline li .timeline-item{
    position: relative;
    min-height: 60px;
    /*background: #ccc;*/
    padding: 10px 20px 20px 30px;
    margin-left: 20px;
    border-left: 1px solid #0067A5;
}
.timeline li:last-child .timeline-item{
    border-left: 1px solid transparent;
}
.timeline li .timeline-item span{
    position: absolute;
    top: 0;
    left: -20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #0067A5;
    background-color: #fff;
    color: #0067A5;
    font-weight: 700;
    border-radius: 50%;

}
#actual-step{
    color: #fff;
    background-color: #0067A5;
}
 .timeline li .timeline-item a, .timeline li .timeline-item p{
    margin: 0;
    padding: 0;
 }
 .timeline li .timeline-item a{
     text-decoration: none;
 }
 .timeline li .timeline-item a h3{
     font-size: 1.2rem;
     color: #555;
 }
 #data-container{
     height: 70%;
     overflow-y: scroll;
 }