.new-task-form{
    margin-top: 5%;
}
.addnewtask-button{
    background-color: #3B4372;
    outline: none;
    border:none;
    height: calc(1.5em + 0.75rem + 2px);
    font-weight: 700;
}
.addnewtask-button:hover{
    background-color: #333;
    outline: none;
    border:none;
}